h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

form {
    background-color: var(--Azul1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 700px; /* Ajustar el ancho del formulario */
    height: 450px;
    margin: 0 auto; /* Centrar horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar verticalmente */
    margin-top: 100px; /* Ajusta el valor según sea necesario para mover el elemento hacia abajo */
}

label {
    color: var(--Azul4);
    font-size: 15px;
    display: block;
}

input {
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}

/* Estilos para el botón tipo submit */
input[type="submit"] {
    background-color: var(--Azul3);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--Azul2);
}
